# Upsert

In [ ]:
import pandas as pd

import upsert_pandas as upd

Inicialmente criamos uma tabela aleatória.

In [ ]:
# Criando uma lista de dicionários (cada dict é uma linha)
lista_pessoas = [
    {"Nome": "Ana Silva", "Idade": 28, "Endereço": "Rua das Flores, 123"},
    {"Nome": "Bruno Costa", "Idade": 34, "Endereço": "Av. Paulista, 1500"},
    {"Nome": "Carla Souza", "Idade": 22, "Endereço": "Rua Chile, 45"},
    {"Nome": "Diego Lima", "Idade": 45, "Endereço": "Praça da Sé, 10"},
    {"Nome": "Elena Rocha", "Idade": 30, "Endereço": "Al. dos Anjos, 99"},
]

# O pandas entende automaticamente que as chaves são as colunas
df = pd.DataFrame(lista_pessoas)

# Results
df.info()
df.head()

Tem uma segunda tabela, contendo novo registro/endereço para "Diogo Lima".

In [ ]:
lista_pessoas = [
    {
        "Nome": "Diego Lima",
        "Idade": 45,
        "Endereço": "Rua Almirante Barroso, 451",
    },
]
df_new = pd.DataFrame(lista_pessoas)

# Results
df_new.info()
df_new.head()

Fazemos o _upsert_ e o registro para "Diogo Lima" foi alterado.

In [35]:
# Upsert
df = upd.upsert(
    df_existing=df,
    df_new=df_new,
    on='Nome',
    only_non_null=False,
)

Vemos os novos resultados.

In [37]:
# Results
df.info()
df.head()

<class 'pandas.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Nome      5 non-null      str
 1   Idade     5 non-null      int64
 2   Endereço  5 non-null      str
dtypes: int64(1), str(2)
memory usage: 252.0 bytes

          Nome  Idade                    Endereço
0    Ana Silva     28         Rua das Flores, 123
1  Bruno Costa     34          Av. Paulista, 1500
2  Carla Souza     22               Rua Chile, 45
3   Diego Lima     45  Rua Almirante Barroso, 451
4  Elena Rocha     30           Al. dos Anjos, 99